<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ean:</strong>
    <%= product.ean %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

</div>
